<div id="body">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-lg-6 col-md-6">
        <div  class="SelectSeat">Select Your Seat &nbsp;&nbsp;</div>
      
      <div class="sele1">
        <img src="images/O_chair.png" alt="selected" style="height: 17px; width: 17px;">
          <span class="sele">Selection</span>
          &nbsp;|&nbsp;
          <img src="images/G_chair.png" alt="sold" style="height: 17px; width: 17px;">
          <span class="sele" >Sold</span>
      </div>
      
      <div class="Rate">Executive-Rs. 300</div>
      
      <table cellspacing="0" cellpadding="0" style="width:100%px;" class="setmain">

        <tr>
          <td> &nbsp;</td>  <td>&nbsp;1</td>  <td>&nbsp;2</td>  <td>&nbsp;3</td>  <td>&nbsp;4</td>  <td>&nbsp;5</td>  <td>&nbsp;6</td>
          <td>&nbsp;7</td>  <td>&nbsp;8</td>  <td>&nbsp;9</td>  <td>10</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>
          <td>&nbsp;</td> <td>11</td> <td>12</td> <td>13</td> <td>14</td> <td>15</td> <td>16</td> <td>17</td> <td>18</td> <td>19</td> <td>20</td>
        </tr>
        <br>
        <tr><td><div class="seatR setrow1">A-</div></td>
        <td class="SRow1"> <img id="A1" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"> <img id="A10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;">  </td>
        <td class="SRow1"></td> <td class="SRow1"></td> <td class="SRow1"></td> <td class="SRow1"></td> <td class="SRow1"></td>
        <td class="SRow1"> <img id="A11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
        <td class="SRow1"> <img id="A20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    </tr>
    <tr>
      <td>  <div class="seatR setrow2">B-</div>  </td>
    <td class="SRow2"> <img id="B1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"></td> <td class="SRow2"></td> <td class="SRow2"></td> <td class="SRow2"></td> <td class="SRow2"></td>
    <td class="SRow2"> <img id="B11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
    <td class="SRow2"> <img id="B20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow3">C-</div>  </td>
  <td class="SRow3"> <img id="C1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"></td> <td class="SRow3"></td> <td class="SRow3"></td> <td class="SRow3"></td> <td class="SRow3"></td>
  <td class="SRow3"> <img id="C11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow3"> <img id="C20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow4">D-</div>  </td>
  <td class="SRow4"> <img id="D1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"></td> <td class="SRow4"></td> <td class="SRow4"></td> <td class="SRow4"></td> <td class="SRow4"></td>
  <td class="SRow4"> <img id="D11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow4"> <img id="D20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow5">E-</div>  </td>
  <td class="SRow5"> <img id="E1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="e9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"></td> <td class="SRow5"></td> <td class="SRow5"></td> <td class="SRow5"></td> <td class="SRow5"></td>
  <td class="SRow5"> <img id="E11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow5"> <img id="E20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow6">F-</div>  </td>
  <td class="SRow6"> <img id="F1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"></td> <td class="SRow6"></td> <td class="SRow6"></td> <td class="SRow6"></td> <td class="SRow6"></td>
  <td class="SRow6"> <img id="F11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow6"> <img id="F20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow7">G-</div>  </td>
  <td class="SRow7"> <img id="G1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"></td> <td class="SRow7"></td> <td class="SRow7"></td> <td class="SRow7"></td> <td class="SRow7"></td>
  <td class="SRow7"> <img id="G11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow7"> <img id="G20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow8">H-</div>  </td>
  <td class="SRow8"> <img id="H1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"></td> <td class="SRow8"></td> <td class="SRow8"></td> <td class="SRow8"></td> <td class="SRow8"></td>
  <td class="SRow8"> <img id="H11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow8"> <img id="H20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow9">I-</div>  </td>
  <td class="SRow9"> <img id="I1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"></td> <td class="SRow9"></td> <td class="SRow9"></td> <td class="SRow9"></td> <td class="SRow9"></td>
  <td class="SRow9"> <img id="I11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow9"> <img id="I20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow10">J-</div>  </td>
  <td class="SRow10"> <img id="J1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"></td> <td class="SRow10"></td> <td class="SRow10"></td> <td class="SRow10"></td> <td class="SRow10"></td>
  <td class="SRow10"> <img id="J11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow10"> <img id="J20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow11">K-</div>  </td>
  <td class="SRow11"> <img id="K1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"></td> <td class="SRow11"></td> <td class="SRow11"></td> <td class="SRow11"></td> <td class="SRow11"></td>
  <td class="SRow11"> <img id="K11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow11"> <img id="K20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow12">L-</div>  </td>
  <td class="SRow12"> <img id="L1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"></td> <td class="SRow12"></td> <td class="SRow12"></td> <td class="SRow12"></td> <td class="SRow12"></td>
  <td class="SRow12"> <img id="L11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow12"> <img id="L20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  <tr>
    <td>  <div class="seatR setrow13">M-</div>  </td>
  <td class="SRow13"> <img id="M1" class="image"  src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M2" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M3" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M4" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M5" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M6" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M7" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M8" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M9" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M10" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"></td> <td class="SRow13"></td> <td class="SRow13"></td> <td class="SRow13"></td> <td class="SRow13"></td>
  <td class="SRow13"> <img id="M11" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M12" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M13" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M14" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M15" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M16" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M17" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M18" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M19" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  <td class="SRow13"> <img id="M20" class="image" src="images/W_chair.png" style="height: 17px; width: 17px; margin-bottom: 3px;"> </td>
  </tr>
  </table>

  <div class="Screen">ALL EYES THIS WAY PLEASE</div>
  </div> <!-- grid close -->



  <div class="col-lg-6 col-md-6">

      <h1 style="margin-left: 70px;">Your movie is {{movie}}</h1>

    <div class="SDetail">Your Seat Details</div>

  <div id="Total">
    <div class="t">
      <div id="SeatC1">Your Movie &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        <span>{{movie}}</span>
      </div>

      <div id="SeatC1">Theater City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        <span>{{city}}</span>
      </div>
      <div id="SeatC1">Theater Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        <span>{{tname}}</span>
      </div>
      
      <div id="SeatC1">Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        <span>{{time}}</span>
      </div>
      

      <div id="SeatC1">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;:
        <span>{{date}}</span>
      </div>
      
      
      <div id="SeatC1" >You select seat &nbsp;:
        <span Id="seatNo"> </span>
      </div>
      
      <div id="SeatC1">Total Seats&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
          <span Id="coun"> </span>
      </div>
      
      <div id="SeatC1">Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        <span Id="coun1"> </span>
      </div><br>
    </div>
    <a href="/#/payment">
    <button type="button" ng-click="pay()" class="btn btn-danger" id="btn">Payment</button>
    </a>
  </div>
  </div>

  </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br>
</div>