<div class="container">
<h1 style="text-align: center; font-weight: bold; font-family: serif;">Hi {{name}} thank you for booking ticket</h1>
	<br>
	<div class="tickDesign">
		<h2>MeraFilm.com</h2>
		<hr>
		<p>Date: {{date}} Show:{{time}}</p>
		<p>TICKET : ₹.{{amount}}</p>
		<p>Selected seats: {{count121}} :-{{seatNo}}</p>
		<p>{{name}}:-{{no}}</p>
		<p>{{email}}</p>
		<p>{{city}}</p>
		<p>{{tname}}</p>
	</div>

	<div class="vertical">
		<h4>MeraFilm.com</h4>
		<div class="pdesign">
			<p>Date: {{date}} Show:{{time}}</p>
			<p>Selected seats: {{count121}} :-{{seatNo}}</p>
		</div>
	</div>
</div>